body{
    width: 1500px;
    height: 1500px;
    background: linear-gradient(90deg, purple, purple, blue);
}
.box-1{
    width: 1000px;
    height: 1000px;
    background-color: white;
    border-radius: 100px;
    margin: 1000px;
    margin-left: 2800px;
}
.p{
    text-align: center;
    font-size: 300px;
    padding: 40% 0;
    color: orange;
    float: left;
    margin-top: -100px;
    margin-left: 140px;
}
.p1{
    text-align: center;
    font-size: 300px;
    color: blue;
    float: left;
    margin-top: 300px;
}
.p2{
    text-align: center;
    font-size: 300px;
    color: darkblue;
    float: left;
    margin-top: 300px;
}